.card {
	width: 208px;
	height: 278px;
	border-radius: 8px;
	margin-top: 18px;
}

.search {
	width: 380px;
	position: relative;
}

.iconSearch {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: 5%;
}

.title {
	font-size: 21px;
}

.price {
	color: red;
	font-size: 20px;
}

.subtitle {
	color: gray;
	font-size: 14px;
}
