.card {
	width: 208px;
	height: 278px;
	border-radius: 8px;
}

.brand {
	margin-right: 60px;
}

.search {
	width: 100%;
	height: 40px;
	position: relative;
}

.iconSearch {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: 5%;
}

.navlogin, .navregister {
	width: 100px;
	height: 36px;
	background-color: #DB3022;
}

.icart {
	width: 24px;
	height: 24px;
}

.title {
	font-size: 21px;
}

.price {
	color: red;
	font-size: 20px;
}

.subtitle {
	color: gray;
	font-size: 14px;
}
